menubar
  .container-fluid
    .row
      .col-sm-2.col-lg-2
        .navbar.navbar-default.navbar-fixed-left
          .navbar-header
            .navbar-brand 
              a(herf='home') Home
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class="first")
                a(href='/admin/product') Firstddddd
              li(class="second")
                a(href='/') Seconddddd
              li(class="third")
                a(href='/') Thereeddddd
              li(class="four")
                a(href='/') Fourddddd
              li(class="fith")
                a(href='/') Fivedddddddd
      .col-sm-10.col-lg-10
        block content
      
    